<template>
    <!--a kiválasztott megye városainak listázása-->
        <div class="cities-list" v-if="stateId>0">
            <div class="cities-list-header">
                <div class="state-label">Megye</div>
                <div class="state-name">{{stateName}}</div>
            </div>
            <div class="clear"></div>
            <div class="city-label">Városok</div>
            <div class="cities-container">
                <!--egyes város komponensek-->
                    <City v-bind:cities="cities"/>
            </div>
            <div class="clear"></div>
        </div>
</template>

<script>
import City from './City.vue'
import axios from 'axios'
import {bus} from '../main'

export default {
    name: 'CitiesList',
    components: {
        City
    },
    data(){
        return{
          cities:'',
          stateName:'',
          stateId:''
        }
    },
    watch: {
        stateId: function(){
            this.citiesFill();
        }     
    },
    methods: {
        citiesFill: function(){
            if(this.stateId!=0){
                axios({method:'post',
                        url:'https://probafeladat-api.zengo.eu/api/state_city?state_id=' + this.stateId,
                        headers: {'token': '1da1100e8f9cbec402c249f9091d8518'}})
                    .then(response => {
                        this.cities = response.data.data
                    })
            }
        }
    },
    created(){
        bus.$on('setStateId',(data) =>{
                this.stateId = data; 
        });
        bus.$on('setStateName',(data) =>{
                this.stateName = data; 
        });
        bus.$on('citiesRefill',() =>{
                this.citiesFill(); 
        });
    }
}
</script>

<style scoped>
.cities-list{  
    position: absolute;
    left: 13%;
    top: 65px;
    margin-top: 40px;
    margin-left: 280px;
    background-color: #ffffff;
    width: 50%;
    height: 100%; 
}
.cities-list-header{
    color: #4a82ff;
    background-color: #dce7ff;
    padding: 20px 0;
    height: 25px;
}
.state-label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    width: 100px;
    margin-left: 70px;
    float:left;
}
.state-name{
    margin-left: 40px;
    float:left;
}
.city-label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
    float:left;
    color: #80ba27;
    height: 30px;
}
.cities-container{
    margin-top: 20px;
    font-size: 14px;
    float:left;
}
.clear {
    clear:both;
}
</style>
