<template>
    <!--városok nevei és a velük való műveletek-->
        <div>
            <div v-for="city in cities" v-bind:value="city.id" v-bind:key="city.id">
                <div class="city-name" v-bind:name="city.id" v-on:click="changeDivToInput">{{city.name}}</div>
                <input class="city-name divInput" type="text" v-bind:name="city.id" v-model="inner">
                <div class="icons delete" v-on:click="deleteCity"><img v-bind:name="city.id" width="30" height="30" src="../assets/delete.png"></div>
                <div class="icons save" v-on:click="saveCity"><img v-bind:name="city.id" width="30" height="30" src="../assets/save.png"></div>
                <div class="icons cancel" v-on:click="cancelCity"><img v-bind:name="city.id" width="30" height="30" src="../assets/cancel.png"></div>
                <div class="clear"></div>
            </div>
        </div>
</template>

<script>
import axios from 'axios'
import {bus} from '../main'
import $ from 'jquery'

export default {
    name: 'City',
    props: ['cities'],
    data(){
        return{
            activeCityEditing: false,
            currentCityId: '',
            inner:''
        }
    },
    methods: {
        changeDivToInput: function(event){
            if(!this.activeCityEditing){
                this.activeCityEditing = true;
                event = event || window.event //for Mozilla Firefox
                this.currentCityId = event.target.getAttribute('name');
                this.inner = event.target.innerHTML;
                $("div[name = " + this.currentCityId + " ]").css("display","none");
                $("input[name = " + this.currentCityId + " ]").css("display","inline");
                $("img[name = " + this.currentCityId + " ]").css("display","inline");
            }
        },
        deleteCity: function(){
            if(this.activeCityEditing){
                this.activeCityEditing = false;
                $("input[name = " + this.currentCityId + " ]").css("display","none");
                $("img[name = " + this.currentCityId + " ]").css("display","none");
            
                axios({method:'delete',
                    url:'https://probafeladat-api.zengo.eu/api/city/?city_id=' + this.currentCityId,
                    headers: {'token': '1da1100e8f9cbec402c249f9091d8518'
                        }})
                .then(()=> {
                    bus.$emit('citiesRefill');
                })
            }
        },
        saveCity: function(){
            if(this.activeCityEditing){
                this.activeCityEditing = false;
                $("div[name = " + this.currentCityId + " ]").css("display","inline");
                $("div[name = " + this.currentCityId + " ]").html(this.inner);
                $("input[name = " + this.currentCityId + " ]").css("display","none");
                $("img[name = " + this.currentCityId + " ]").css("display","none");
            
                axios({method:'patch',
                    url:'https://probafeladat-api.zengo.eu/api/city/?name=' +this.inner + '&city_id=' + this.currentCityId,
                    headers: {'token': '1da1100e8f9cbec402c249f9091d8518'
                        }})
                .then(()=> {
                    bus.$emit('citiesRefill');
                })
            }
        },
        cancelCity: function(){
            if(this.activeCityEditing){
                this.activeCityEditing = false;
                $("div[name = " + this.currentCityId + " ]").css("display","inline");
                $("input[name = " + this.currentCityId + " ]").css("display","none");
                $("img[name = " + this.currentCityId + " ]").css("display","none");
            }
        }
    }
}
</script>

<style scoped>
.city-name{
    padding: 5px;
    width: 200px;
    margin-right: 5px;
    margin-left: 40px;
    float:left;
}
.icons{
    margin-right: 5px;
    cursor: pointer;
    float:left;
}
.divInput{
    display: none;
}
.icons img{
    display: none;
}
.clear {
    clear:both;
}
</style>
