<template>
    <!--header logóval-->
    <div class="header">
        <div class="logo">
            <img width="auto" height="55" src="../assets/logo.png" >
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Header',
    }
</script>

<style scoped>
    .header{
        background-color: #ffffff;
    }
    .logo{
        padding-top: 20px;
        padding-bottom: 5px;
        margin-left: 13%;
    }
    img{
        height: 35px; 
        opacity: 1;
    }
</style>
