<template>
    <!--illusztráció-->
        <div class="illustration" v-if="stateId==0" >
                <img width="auto" height="auto" src="../assets/illustration.png">
        </div>
</template>

<script>
export default {
    name: 'Illustration',
    props: {
        stateId: Number
    },
}
</script>

<style scoped>
.illustration{
    position: absolute;
    top: 250px;
    left: 700px;
}
</style>
