<template>
    <!--a kiválasztott megyéhez új várost hozzáadó elem-->
        <div class="new-city-input-container" v-if="stateId>0">
            <span class="input-label">Új város</span><br>
            <input class="new-city-input" type="text" placeholder="Település neve" v-model="newCity">
            <button class="new-city-input-button" v-on:click="addNewCity">Felveszem</button>
            <div class="new-city-triangle-right"></div>
        </div>
</template>

<script>
import axios from 'axios'
import {bus} from '../main'

export default {
    name: 'NewCity',
    data(){
        return{
            newCity:'',
            stateId: ''
        }
    },
    methods: {
        addNewCity: function(){
            axios({method:'put',
                url:'https://probafeladat-api.zengo.eu/api/city/?name=' + this.newCity + '&state_id=' + this.stateId,
                headers: {'token': '1da1100e8f9cbec402c249f9091d8518',
                    'Access-Control-Allow-Origin': '*',
                    'Access-Control-Allow-Methods': 'PUT',
                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept'
                }})
                .then(()=> {
                    bus.$emit('citiesRefill');
                })
        }
    },
    created(){
        bus.$on('setStateId',(data) =>{
                this.stateId = data; 
        });
    }
}
</script>

<style scoped>
.new-city-input-container{
    background-color: #cae99a;
    padding: 25px 25px;
    padding-bottom: 10px;
    margin-left: 13%;
    width: 230px; 
}
.input-label{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 12px;
}
.new-city-input{
    height: 25px;
    font-style: italic;
    width: 230px;
}
.new-city-input-button{
    width: 230px; 
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #80ba27;
    margin-top: 20px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.new-city-triangle-right{
    position: relative;
    top: -64.2px;
    width: 0; 
    height: 0;
    margin-left: 255px; 
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;  
    border-left: 14px solid #cae99a;
    z-index: 11;
}
</style>
