<template>
    <!--a kiválasztható megyék neveit tartalmazó select-->
        <div class="state-select-container">
            <span class="input-label">Megye</span><br>
            <select class="state-select" v-if="states!=''" v-model="stateId" @change="getStateName">
                <option v-for="state in states" v-bind:value="state.id" v-bind:key="state.id">
                    {{state.name}}
                </option>
            </select>
            <div class="state-triangle-down" v-if="stateId>0"></div>
            <!--illsuztráció komponens-->
                <Illustration v-bind:stateId="stateId"/>
        </div>
</template>

<script>
import Illustration from './Illustration.vue'
import axios from 'axios'
import {bus} from '../main'

export default {
    name: 'StateSelect',
    components: {
        Illustration
    },
    data(){
        return{
        stateName: '',
        stateId: 0,
        states: ''
        }
    },
    watch: {
        stateId: function(){
           bus.$emit('setStateId',this.stateId);
           bus.$emit('setStateName',this.stateName);
        }
    },
    methods: {
        statesFill: function(){
            axios({method:'get',
                    url:'https://probafeladat-api.zengo.eu/api/all_states',
                    headers: {'token': '1da1100e8f9cbec402c249f9091d8518'}})
                .then(response => {
                    this.states = response.data.data
                    this.states.push({ "id":0, "name":"Válassz megyét!"})
            })
        },
        getStateName: function(){
            this.stateName = this.states.find(index => index.id == this.stateId).name;
        }
    },
    created() {
        this.statesFill()
    }
}

</script>

<style scoped>
.state-select-container{
    width: 230px;
    margin-left: 13%;
    padding: 25px 25px;
    background-color: #b1c9ff;
}
.input-label{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 12px;
}
.state-select{
    height: 25px;
    font-style: italic;
    width: 230px;
}
.state-triangle-down{
    position: relative;
    top: 39px;
    margin-left: 108px; 
    width: 0; 
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #b1c9ff;
}
</style>
