<template>
    <!--select input feletti kis cuki háromszögecskék-->
        <div class="little-cute-triangles-down">
            <div class="down-grid-container">
                <div class="down-tri_1_1 tri_top_right"></div>
                <div class="down-tri_1_2 tri_bottom_right"></div>
                <div class="down-tri_1_3 tri_top_right"></div>
                <div class="down-tri_1_4 tri_top_right"></div>
                <div class="down-tri_1_5 tri_top_left"></div>
                <div class="down-tri_1_6 tri_top_right"></div>
                <div class="down-tri_1_7 tri_top_right"></div>
                <div class="down-tri_2_1 tri_top_right"></div>
                <div class="down-tri_2_2 tri_bottom_left"></div>
                <div class="down-tri_2_3 tri_top_left"></div>
                <div class="down-tri_2_4 tri_top_right"></div>
                <div class="down-tri_2_5 tri_bottom_left"></div>
                <div class="down-tri_2_6 tri_bottom_right"></div>
                <div class="down-tri_2_7 tri_top_right"></div>
                <div class="down-tri_3_1 tri_empty"></div>
                <div class="down-tri_3_2 tri_bottom_right"></div>
                <div class="down-tri_3_3 tri_top_right"></div>
                <div class="down-tri_3_4 tri_top_right"></div>
                <div class="down-tri_3_5 tri_top_left"></div>
                <div class="down-tri_3_6 tri_bottom_left"></div>
                <div class="down-tri_3_7 tri_empty"></div>
                <div class="down-tri_4_1 tri_empty"></div>
                <div class="down-tri_4_2 tri_empty"></div>
                <div class="down-tri_4_3 tri_empty"></div>
                <div class="down-tri_4_4 tri_top_right"></div>
                <div class="down-tri_4_5 tri_empty"></div>
                <div class="down-tri_4_6 tri_empty"></div>
                <div class="down-tri_4_7 tri_empty"></div>
            </div>
        </div> 
</template>

<script>
    export default {
      name: 'TrianglesDown',
    }
</script>

<style scoped>
.little-cute-triangles-down{
    margin-left: 13%;
    width: 280px;
    height: 160px;
}
.down-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "down-tri_1_1 down-tri_1_2 down-tri_1_3 down-tri_1_4 down-tri_1_5 down-tri_1_6 down-tri_1_7" 
                        "down-tri_2_1 down-tri_2_2 down-tri_2_3 down-tri_2_4 down-tri_2_5 down-tri_2_6 down-tri_2_7" 
                        "down-tri_3_1 down-tri_3_2 down-tri_3_3 down-tri_3_4 down-tri_3_5 down-tri_3_6 down-tri_3_7" 
                        "down-tri_4_1 down-tri_4_2 down-tri_4_3 down-tri_4_4 down-tri_4_5 down-tri_4_6 down-tri_4_7";
}
.tri_empty{
    width: 40px;
    height: 40px;
}
.tri_top_right{
    width: 0;
    height: 0;
    border-top: 40px solid;
    border-left: 40px solid transparent;
}
.tri_bottom_right{
    width: 0;
    height: 0;
    border-bottom: 40px solid;
    border-left: 40px solid transparent;
}
.tri_top_left{
    width: 0;
    height: 0;
    border-top: 40px solid;
    border-right: 40px solid transparent;
}
.tri_bottom_left{
    width: 0;
    height: 0;
    border-bottom: 40px solid;
    border-right: 40px solid transparent;
}
.down-tri_1_1 { 
    grid-area: down-tri_1_1; 
        border-top-color: #fbc7a8;
}
.down-tri_1_2 { 
    grid-area: down-tri_1_2; 
    border-bottom-color: #c7c5d1;
}
.down-tri_1_3 { 
    grid-area: down-tri_1_3; 
    border-top-color: #eeb1b2;
}
.down-tri_1_4 { 
    grid-area: down-tri_1_4; 
    border-top-color: #d3e2c5;
}
.down-tri_1_5 { 
    grid-area: down-tri_1_5;
    background-color: #fbd9a6;
    border-top-color: #fae3a5;
}
.down-tri_1_6 { 
    grid-area: down-tri_1_6; 
    border-top-color: #bccdbc;
}
.down-tri_1_7 { 
    grid-area: down-tri_1_7; 
    border-top-color: #d6b9ca;
}
.down-tri_2_1 { 
    grid-area: down-tri_2_1; 
    border-top-color: #f7b7b5;
}
.down-tri_2_2 { 
    grid-area: down-tri_2_2; 
    border-bottom-color: #c7e0c9;
}
.down-tri_2_3 { 
    grid-area: down-tri_2_3; 
    background-color: #f9edac;
    border-top-color: #fae3a5;
}
.down-tri_2_4 { 
    grid-area: down-tri_2_4; 
    border-top-color: #c1d4d1;
}
.down-tri_2_5 { 
    grid-area: down-tri_2_5; 
    border-bottom-color: #fbc7a8;
}
.down-tri_2_6 { 
    grid-area: down-tri_2_6; 
    border-bottom-color: #f3b9ca;
}
.down-tri_2_7 { 
    grid-area: down-tri_2_7; 
    border-top-color: #c7c5d1;
}
.down-tri_3_1 { grid-area: down-tri_3_1; }
.down-tri_3_2 { 
    grid-area: down-tri_3_2; 
    border-bottom-color: #b2bbc6;
}
.down-tri_3_3 { 
    grid-area: down-tri_3_3; 
    border-top-color: #eeb1b2;
}
.down-tri_3_4 { 
    grid-area: down-tri_3_4; 
    border-top-color: #d3e2c5;
}
.down-tri_3_5 { 
    grid-area: down-tri_3_5; 
    border-top-color: #f7e2ca;
}
.down-tri_3_6 { 
    grid-area: down-tri_3_6; 
    border-bottom-color: #f7ebbe;
}
.down-tri_3_7 { 
    grid-area: down-tri_3_7; }
.down-tri_4_1 { 
    grid-area: down-tri_4_1; }
.down-tri_4_2 { 
    grid-area: down-tri_4_2; }
.down-tri_4_3 { 
    grid-area: down-tri_4_3; }
.down-tri_4_4 { 
    grid-area: down-tri_4_4; 
    border-top-color: #cbe0dc;
}
.down-tri_4_5 { grid-area: down-tri_4_5; }
.down-tri_4_6 { grid-area: down-tri_4_6; }
.down-tri_4_7 { grid-area: down-tri_4_7; }
</style>