<template>
  <!--select input feletti kis cuki háromszögecskék-->
        <div class="little-cute-triangles-up">
            <div class="up-grid-container">
                <div class="up-tri_1_1 tri_empty"></div>
                <div class="up-tri_1_2 tri_empty"></div>
                <div class="up-tri_1_3 tri_empty"></div>
                <div class="up-tri_1_4 tri_bottom_right"></div>
                <div class="up-tri_1_5 tri_empty"></div>
                <div class="up-tri_1_6 tri_empty"></div>
                <div class="up-tri_1_7 tri_empty"></div>
                <div class="up-tri_2_1 tri_empty"></div>
                <div class="up-tri_2_2 tri_top_right"></div>
                <div class="up-tri_2_3 tri_bottom_right"></div>
                <div class="up-tri_2_4 tri_bottom_right"></div>
                <div class="up-tri_2_5 tri_bottom_left"></div>
                <div class="up-tri_2_6 tri_top_left"></div>
                <div class="up-tri_2_7 tri_empty"></div>
                <div class="up-tri_3_1 tri_bottom_right"></div>
                <div class="up-tri_3_2 tri_top_left"></div>
                <div class="up-tri_3_3 tri_bottom_left"></div>
                <div class="up-tri_3_4 tri_bottom_right"></div>
                <div class="up-tri_3_5 tri_top_left"></div>
                <div class="up-tri_3_6 tri_top_right"></div>
                <div class="up-tri_3_7 tri_bottom_right"></div>
                <div class="up-tri_4_1 tri_bottom_right"></div>
                <div class="up-tri_4_2 tri_top_right"></div>
                <div class="up-tri_4_3 tri_bottom_right"></div>
                <div class="up-tri_4_4 tri_bottom_right"></div>
                <div class="up-tri_4_5 tri_bottom_left"></div>
                <div class="up-tri_4_6 tri_bottom_right"></div>
                <div class="up-tri_4_7 tri_bottom_right"></div>
            </div>
        </div>
</template>

<script>
    export default {
        name: 'TrianglesUp',
    }
</script>

<style scoped>
.little-cute-triangles-up{
    margin-left: 13%;
    width: 280px;
    height: 160px;
}
.up-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "up-tri_1_1 up-tri_1_2 up-tri_1_3 up-tri_1_4 up-tri_1_5 up-tri_1_6 up-tri_1_7" 
                        "up-tri_2_1 up-tri_2_2 up-tri_2_3 up-tri_2_4 up-tri_2_5 up-tri_2_6 up-tri_2_7" 
                        "up-tri_3_1 up-tri_3_2 up-tri_3_3 up-tri_3_4 up-tri_3_5 up-tri_3_6 up-tri_3_7" 
                        "up-tri_4_1 up-tri_4_2 up-tri_4_3 up-tri_4_4 up-tri_4_5 up-tri_4_6 up-tri_4_7";
}
.tri_empty{
    width: 40px;
    height: 40px;
}
.tri_top_right{
    width: 0;
    height: 0;
    border-top: 40px solid;
    border-left: 40px solid transparent;
}
.tri_bottom_right{
    width: 0;
    height: 0;
    border-bottom: 40px solid;
    border-left: 40px solid transparent;
}
.tri_top_left{
    width: 0;
    height: 0;
    border-top: 40px solid;
    border-right: 40px solid transparent;
}
.tri_bottom_left{
    width: 0;
    height: 0;
    border-bottom: 40px solid;
    border-right: 40px solid transparent;
}
.up-tri_1_1 { grid-area: up-tri_1_1; }
.up-tri_1_2 { grid-area: up-tri_1_2; }
.up-tri_1_3 { grid-area: up-tri_1_3; }
.up-tri_1_4 { 
    grid-area: up-tri_1_4;
    border-bottom-color: #cbe0dc;
}
.up-tri_1_5 { grid-area: up-tri_1_5; }
.up-tri_1_6 { grid-area: up-tri_1_6; }
.up-tri_1_7 { grid-area: up-tri_1_7; }
.up-tri_2_1 { grid-area: up-tri_2_1; }
.up-tri_2_2 { 
    grid-area: up-tri_2_2; 
    border-top-color: #b2bbc6;
}
.up-tri_2_3 { 
    grid-area: up-tri_2_3; 
    border-bottom-color: #eeb1b2;
}
.up-tri_2_4 { 
    grid-area: up-tri_2_4; 
    border-bottom-color: #d3e2c5;
}
.up-tri_2_5 { 
    grid-area: up-tri_2_5; 
    border-bottom-color: #f7e2ca;
}
.up-tri_2_6 { 
    grid-area: up-tri_2_6; 
    border-top-color: #faeca5;
}
.up-tri_2_7 { grid-area: up-tri_2_7; }
.up-tri_3_1 { 
    grid-area: up-tri_3_1; 
    border-bottom-color: #f7b7b5;
}
.up-tri_3_2 { 
    grid-area: up-tri_3_2; 
    border-top-color: #c7e0c9;
}
.up-tri_3_3 { 
    grid-area: up-tri_3_3;
    background-color: #f9edac; 
    border-bottom-color: #fae3a5;
}
.up-tri_3_4 { 
    grid-area: up-tri_3_4; 
    border-bottom-color: #c1d4d1;
}
.up-tri_3_5 { 
    grid-area: up-tri_3_5; 
    border-top-color: #fbc7a8;
}
.up-tri_3_6 { 
    grid-area: up-tri_3_6; 
    border-top-color: #f3b9ca;
}
.up-tri_3_7 { 
    grid-area: up-tri_3_7; 
    border-bottom-color: #c7c5d1;
}
.up-tri_4_1 { 
    grid-area: up-tri_4_1; 
    border-bottom-color: #fbc7a8;
}
.up-tri_4_2 { 
    grid-area: up-tri_4_2; 
    border-top-color: #c7c5d1;
}
.up-tri_4_3 { 
    grid-area: up-tri_4_3; 
    border-bottom-color: #eeb1b2;
}
.up-tri_4_4 { 
    grid-area: up-tri_4_4; 
    border-bottom-color: #d3e2c5;
}
.up-tri_4_5 { 
    grid-area: up-tri_4_5;
    background-color: #fbd9a6;
    border-bottom-color: #fae3a5
}
.up-tri_4_6 { 
    grid-area: up-tri_4_6; 
    border-bottom-color: #bccdbc;
}
.up-tri_4_7 { 
    grid-area: up-tri_4_7; 
    border-bottom-color: #d6b9ca;
}
</style>