<template>
<div>
  <!--header komponense-->
  <Header />

  <!--felső háromszögecskék komponense-->
  <TrianglesUp />

  <!--megye kiválasztása select input-->
  <StateSelect />

  <!--új város input-->
  <NewCity />

  <!--alsó háromszögecskék komponense--> 
  <TrianglesDown />

  <!--kiválasztott megye városai-->
  <CitiesList />
</div>
</template>

<script>
import Header from './components/Header.vue'
import TrianglesUp from './components/TrianglesUp.vue'
import TrianglesDown from './components/TrianglesDown.vue'
import StateSelect from './components/StateSelect.vue'
import NewCity from './components/NewCity.vue'
import CitiesList from './components/CitiesList.vue'

export default {
  name: 'app',
  components: {
    Header,
    TrianglesUp,
    TrianglesDown,
    StateSelect,
    NewCity,
    CitiesList
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400&subset=latin-ext');

html,body{
    background-color: #fff0e1;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size:16px;
}
</style>
